
/_ReSharper.KinectResearch
/KinectResearch.suo
/KinectResearch.sln.DotSettings.user
/KinectResearch/obj
/KinectResearch/bin
/KinectResearch.Infrastructure/obj
/KinectResearch.Infrastructure/bin
/KinectResearch.Modules.Core/obj
/KinectResearch.Modules.Core/bin
/KinectResearch.Modules.Menu/obj
/KinectResearch.Modules.Menu/bin
/KinectResearch.Modules.Preview/obj
/KinectResearch.Modules.Preview/bin
/KinectResearch.sln.DotSettings
/KinectResearch.Modules.Details/bin
/KinectResearch.Modules.Details/obj